<%- include('partials/header', {user: user}) -%>

<div class="hero h-5/6 bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">hi swifties</h1>
        <p class="py-6">
          i made this site so we can share our favourite taylor swift songs, albums, and lyrics with each other. 
          <a href="/login">log in</a> or <a href="/signup">sign up</a> to vote and add your taylor swift favourites
        </p>

      </div>
    </div>
</div>
    

<%- include('partials/footer') -%>