<%- include('partials/header', {user: user}) -%>

<div class="hero h-5/6 bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-error"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
        <form action="/login" method="POST">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="input input-bordered" aria-describedby="emailHelp" name="email"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" class="input input-bordered" name="password"/>
            <label class="label">
              <span class="label-text-alt">Don't have an account?<a href="/signup" class="label-text-alt link link-hover text-secondary"> Sign up</a></span>
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') -%>
